<!doctype html>
<html lang="en">
 
<head>
	
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css" media="screen">

</head>

<body> 
	
	<div class="main-body" ng-app="F1FeederApp" ng-controller="driversController">

		<h1>Loading Ajax</h1>
		
		<!-- The ng-app directive is responsible for bootstrapping your app defining its scope -->
		<!-- The ng-controller directive defines which controller will be in charge of your view -->
		<table>
		
			<!-- 
			ng-model binds our text field to the $scope.nameFilter variable and 
			makes sure that its value is always up-to-date with the input value 
			-->
			<input type="text" ng-model="nameFilter" placeholder="Search..."/>
		
			<thead>
				<tr><th colspan="4">Drivers Championship Standings</th></tr>
			</thead>
			
			<tbody>
			
				<!-- ng-repeat replicates a line in the table for each driver in driversList -->
				<tr ng-repeat="driver in driversList | filter: nameFilter">
					<td>
						{{$index + 1}}
					</td>
					<td>
						{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
					</td>
					<td>
						{{driver.nationality}}
					</td>
					<td>
						{{driver.Constructors[0].name}}
					</td>
					<td>
						{{driver.points}}
					</td>
				</tr>
				
			</tbody>
			
		</table>

		

	</div><!-- .main-body -->
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="script.js"></script>

</body>
</html>