<!-- The ng-app directive is responsible for bootstrapping your app defining its scope -->
<!-- The ng-controller directive defines which controller will be in charge of your view -->
<table>

	<!-- <input type="text" ng-model="nameFilter" placeholder="Search..."/> -->

	<thead>
		<tr><th colspan="4">Constructors Championship Standings</th></tr>
	</thead>
	
	<tbody>
	
		<!-- ng-repeat replicates a line in the table for each driver in driversList -->
		<!-- http://ergast.com/api/f1/2013/constructors/mclaren/results.json?callback=JSON_CALLBACK -->
		<tr ng-repeat="team in teamList">
			<td>
				{{$index + 1}}
			</td>
			<td>
				<!-- Passing the link -->
				<a href="#/teams/{{team.Constructor.constructorId}}">
	  				{{team.Constructor.name}}
	  			</a>
			</td>
			<td>
				{{team.points}}
			</td>
		</tr>
		
	</tbody>
	
</table>