<a href="./#/teams">< Back to teams list</a><br><br>

<!-- The ng-app directive is responsible for bootstrapping your app defining its scope -->
<!-- The ng-controller directive defines which controller will be in charge of your view -->
<table>

	<!-- <input type="text" ng-model="nameFilter" placeholder="Search..."/> -->

	<thead>
		<tr><th colspan="4">Constructors Championship Standings</th></tr>
	</thead>
	
	<tbody>
	
		<!-- ng-repeat replicates a line in the table for each driver in driversList -->
		<!-- http://ergast.com/api/f1/2013/constructors/mclaren/results.json?callback=JSON_CALLBACK -->
		<tr ng-repeat="team in teamRacesList">
			<td>
				{{$index + 1}}
			</td>
			<td>
				<!-- Passing the link -->
				<!-- <a href="#/constructors/{{team.Constructor.constructorId}}"> -->
	  				{{team.raceName}}
	  			<!-- </a> -->
			</td>
			<td>
				{{team.Results[0].Driver.driverId}} - {{team.Results[0].position}}
			</td>
			<td>
				{{team.Results[1].Driver.driverId}} - {{team.Results[1].position}}
			</td>
		</tr>
		
	</tbody>
	
</table>